@import "tailwindcss";

.bg-custom {
    background-image: url('../src/assets/NewHero.png');
  }
  
  
  .bg-custom1 {
    background-image: url('../src/assets/\ potshow1.png');
  }
  .bg-custom2 {
    background-image: url('../src/assets/\ Header.png');
  }
  